

// ---- FUENTES ----
$cursive : 'Allura';
$principal : 'Poppins';


// ---- COLORES ----
$palo_rosa: #eebbbb;
$palo_rosa_2 : #cc9b9a;
$gris_base : rgba(128, 128, 128, 0.514);


// ---- MIXINS ----
@mixin tablet {
    @media only screen and (min-width: 768px) {
    @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: 992px) {
    @content;
    }
}

@mixin large {
    @media only screen and (min-width: 1200px) {
    @content;
    }
}