
.data_divGlob{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.data_card{
    display: flex;
    flex-direction: column;
    align-items: center;
}