
.container_gift{
    text-align: center;
    padding-top: 35px;
    padding-bottom: 55px;

    h1{
        font-family: $cursive;
        font-size: 55px;
        color: $palo_rosa;
    }

    h4{
        font-family: $principal;
        font-size: 25px;
        color: $gris_base;
        padding-top: 40px;
        font-weight: 500;
    }
}