
.body{
    display: block;
    margin: 0px;
}
.blockFull {
    width: 100%;
    height: 100vh;
}

.divGlob{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.line_h{
    width: 1px;
    height: 100%;
    background-color: $gris_base;
}

.linea_espacio{
    background-color: $gris_base;
    width: 70%;
    height: 0,5px;
}

.linea_espacio_blanca{
    background-color: white;
    text-align: center;
    width: 90%;
    height: 3px;
}

.button{
    background-color: $palo_rosa;
    border: transparent 1px solid;
    width: 70%;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    color: white;
}

.button:hover{
    background-color: white;
    color: $palo_rosa;
    border: $palo_rosa 1px solid;
}

.sombra_separador{
    background: linear-gradient(#d7d3d30e, #b4b4b457);
    height: 40px;
    width: 90%;
}

.divider{
    margin-left: 5%;
    position: relative;
    width: 90%;
    height: 50px;
    background-image: url('../../images/divider.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.spinner{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.696);
    z-index: 200;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
}

.hrefNone{
    text-decoration:none;
    color: white;
}

.button_music{
    background-color: #eebbbb4b;
    padding: 10px;
    border-radius: 25px;
}

.buttonMusic{
    background-color: $palo_rosa;
    border: transparent 1px solid;
    width: 70%;
    margin-bottom: 15px;
    padding: 10px 15px 10px 15px;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    color: white;
}

.buttonMusic:hover{
    background-color: white;
    color: $palo_rosa;
    border: $palo_rosa 1px solid;
}

.modalMusic{
    text-align: center;

    h2{
        color: $palo_rosa;
        font-family: $principal;
        font-size: 32px;
        font-weight: 300;
    }

    h5{
        color: $gris_base;
        font-family: $principal;
        font-size: 15px;
        font-weight: 200;
        margin-bottom: 25px;
        margin-top: 25px;
    }
}