
.container_pictures{

    text-align: center;
    padding-top: 35px;
    padding-bottom: 55  px;


    h1{
        font-family: $cursive;
        font-size: 55px;
        color: $palo_rosa;
    }

    h4{
        font-family: $principal;
        color: $gris_base;
        font-size: 15px;
    }
}

.logo_picture{
    text-align: center;
}